{% load static %}

<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>Bootstrap demo</title>
</head>

<body>

    <header class="navbar navbar-expand-lg bg-light header_menu">
        <nav class="container-fluid">
            <div>
                <a class="navbar-brand" href="#">
                    <img style="width: 120px;" src="{% static 'logo.png' %}"></a>
            </div>
            <div>
                <input class="form-control me-2" type="search" placeholder="검색하세요" aria-label="Search"
                    style="width:400px;">
            </div>
            <div style="display: flex;">
                <span class="material-icons-outlined">home</span>
                <span class="material-icons-outlined" id="nav_bar_add_box">add_box</span>
                <span class="material-symbols-outlined">favorite</span>

                <div class="dropdown">
                    <img style="width: 24px; height:24px;" src="{% get_media_prefix %}{{user.profile_image}}" alt=""
                        class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user/profile">프로필 설정</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout" id="logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="containner main">
        <!-- 왼쪽영역 -->
        <section class="main_left_side">
            {% for feed in feeds%}
            <!-- 피드카드 시작 -->
            <div class="feed_card">
                <div class="user_info">
                    <div class="profile_container">
                        <div class="profile_box">
                            <div class="profile_box_image">
                                <img id="input_profile_image" src="{% get_media_prefix %}{{feed.profile_image}}" alt="프로필이미지"
                                    style="object-fit:cover; width: inherit; height: inherit;">
                            </div>

                            <div class="profile_box_userid">
                                <div style="font-weight: bold;">{{feed.user_nickname}}</div>
                                <div style="color: gray;">{{feed.user.name}}</div>
                            </div>
                        </div>

                        <div class="material-symbols-outlined">
                            favorite
                        </div>
                    </div>
                </div>
                <div class="feed_image">
                    <img src="{% get_media_prefix %}{{feed.image}}" alt="" style="object-fit: cover;">
                </div>

                <div class="icons_box mb-2">
                    <div class="icons_left">

                        <div class="icons" id="like_btn" >
                            <img src="{% static 'heart1.png' %}" alt="" style="width: 100%; object-fit:cover;">
                        </div>

                        <div class="icons" id="reply_btn">
                            <img src="{% static 'reply.png' %}" alt="" style="width: 100%; object-fit:cover;">
                        </div>

                        <div class="icons" id="share_btn">
                            <img src="{% static 'share.png' %}" alt="" style="width: 100%; object-fit:cover;">
                        </div>
                    </div>

                    <div class="icons_right">
                        <div class="icons" id="bookmark_btn">
                            <img src="{% static 'bookmark.png' %}" alt="" style="width: 100%; object-fit:cover;">
                        </div>
                    </div>
                </div>

                <div class="reply_box" style="border-top: 1px solid black;">
                    댓글들

                    <div style="border-top: 1px solid black; text-align: left;">
                        <div>{ㅇㅇㅇ}님 외 {{feed.like_count}}명이 좋아합니다.</div>


                        <div><b>{{feed.user_nickname}}</b> {{feed.content}}</div>

                        <button>댓글 모두 보기</button>
                        
                        {% for reply in feed.reply_list %}
                        <div><b>{{reply.nickname}}</b> {{reply.reply_content}}</div>
                        {% endfor %}
                
                    </div>
                    <div>
                        {5}분전
                    </div>

                    <div style="display: flex;">
                        <input id="reply_{{feed.feed_id}}" class=" w-100" type="text" placeholder="댓글입력창">
                        <div feed_id="{{feed.feed_id}}" class="btn btn-secondary upload_reply" style="width: 60px;" >게시</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </section>
        <!-- 오른쪽영역 -->
        <section class="main_right_side">
            <div class="profile_box">
                <div class="profile_box_image_right">
                    <img src="{% get_media_prefix %}{{user.profile_image}}" alt="">
                </div>

                <div class="profile_box_userid">
                    <div style="font-weight: bold;">{{user.nickname}}</div>
                    <div style="color: gray;">{{user.name}}</div>
                </div>
            </div>
            <div class="my-3" style="display: flex; justify-content: space-between;">
                <div style="color: gray;">회원님을위한 추천</div>
                <div><a href="#" style="text-decoration: none; color: black; font-weight: bold;">모두보기</a></div>
            </div>

            <div class="profile_box mb-3" style="justify-content: space-between;">
                <div style="display: flex;">
                    <div class="profile_box_image_right">
                        <img src="{% static 'profile.jpg'%}" alt="">
                    </div>
                    <div class="profile_box_userid">
                        <div style="font-weight: bold;">jumosd</div>
                        <div style="color: gray;">jujuju님 외 12명이 팔로우합니다</div>
                    </div>
                </div>

                <div>
                    <a href="#" style="text-decoration: none; color:rgb(38, 92, 239); font-weight: bold;">팔로우</a>
                </div>
            </div>
            <div class="profile_box mb-3" style="justify-content: space-between;">
                <div style="display: flex;">
                    <div class="profile_box_image_right">
                        <img src="{% static 'profile.jpg'%}" alt="">
                    </div>
                    <div class="profile_box_userid">
                        <div style="font-weight: bold;">jumosd</div>
                        <div style="color: gray;">jujuju님 외 12명이 팔로우합니다</div>
                    </div>
                </div>


                <div>
                    <a href="#" style="text-decoration: none; color:rgb(38, 92, 239); font-weight: bold;">팔로우</a>
                </div>
            </div>
            <div class="profile_box mb-3" style="justify-content: space-between;">
                <div style="display: flex;">
                    <div class="profile_box_image_right">
                        <img src="{% static 'profile.jpg'%}" alt="">
                    </div>
                    <div class="profile_box_userid">
                        <div style="font-weight: bold;">jumosd</div>
                        <div style="color: gray;">jujuju님 외 12명이 팔로우합니다</div>
                    </div>
                </div>
                <div>
                    <a href="#" style="text-decoration: none; color:rgb(38, 92, 239); font-weight: bold;">팔로우</a>
                </div>
            </div>
        </section>



    </main>

    <div id="first_modal" class="modal_overlay" id="modal_add_feed">
        <div class="modal_window">
            <div class="modal_window_head">
                <div class="icons">&nbsp;</div>
                <div>새이미지 업로드</div>
                <div class="icons" onclick="modalclose()">닫기</div>
            </div>
            <div class="img_upload_space">
                이미지 등록구간
            </div>
        </div>
    </div>

    <div id="second_modal" class="modal_overlay" id="modal_add_feed">
        <div class="modal_window">
            <div class="modal_window_head">
                <div class="icons">&nbsp;</div>
                <div>두번째 모달</div>
                <div class="icons" onclick="modalclose()">닫기</div>
            </div>

            <div style="display:flex; flex-direction: row;">

                <div class="img_upload_space_half">
                    이미지
                </div>

                <div class="img_upload_space_half2">
                    <div>
                        <textarea id="input_content" class="form-control" id="exampleFormControlTextarea1"></textarea>
                        <button id="feed_create_button" class="btn btn-primary w-100 mt-3">
                            공유하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>


<!--  -->
<script>

    $('.upload_reply').click(function(e){
        feed_id = e.target.getAttribute('feed_id')
        reply_id = 'reply_'+feed_id

        console.log(feed_id,reply_id)
    })


    let files

    function modalclose() {
        $('.modal_overlay').css({
            "display": "none"
        });
    }
    $('#logout').click(function(){
        location.replace('/main')
    })
    $('#nav_bar_add_box').click(function () {
        $('#first_modal').css({
            'display': 'flex'
        });

        $(document.body).css({
            'overflow': 'hidden'
        });
    });

    $('#feed_create_button').click(function () {
        let file = files[0]
        let image = files[0].name;
        let content = $('#input_content').val();
        let user_nickname = '{{user.nickname}}';
        let profile_image = '{{user.profile_image}}';
        let user_email = '{{user.email}}'

        let fd = new FormData();

        fd.append('file', file);
        fd.append('image', image);
        fd.append('content', content);
        fd.append('user_nickname', user_nickname);
        fd.append('profile_image', profile_image);
        fd.append('user_email', user_email);
        
        $.ajax({
            url: "/content/upload/",
            data: fd,
            method: "POST",
            // 폼데이터를 전송할떄는 기본값으로 정해준다
            processData: false,
            contentType: false,
            // 폼데이터를 전송할떄는 기본값으로 정해준다
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log("에러 ")
                console.log(fd)
            },
            complete: function () {
                console.log("완료")
                modalclose()
                location.reload();
            }
        });
    })

    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();

        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "background-color": "gray",
                "outline-offset": "-20px"
            });
        }
    }



    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer = e.originalEvent.dataTransfer;
        files = e.target.files || e.dataTransfer.files;

        $('#first_modal').css({
            'display': 'none',
        })
        $('#second_modal').css({
            'display': 'flex',
        })

        console.log("업로드 완료" + files[0].name);
        if (files.length > 1) {
            alert("하나만 올려주세요");
            return;
        }

        if (files[0].type.match(/image.*/)) {
            $('.img_upload_space_half').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-position": "center",
                "background-repeat": "no-repeat"
            });
        }
    }

    $('#like_btn').click(function(){
        alert("좋아요!")
    });
    $('#reply_btn').click(function(){
        alert("댓글!")
    });
    $('#share_btn').click(function(){
        alert("공유!")
    });
    $('#bookmark_btn').click(function(){
        alert("북마크!")
    });




</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</html>