body{
    background-color: rgb(232, 232, 232);
}
.header_menu{
   position: fixed;
   width: 100%;
   top: 0px;
   height: 38px;
}


.main{
    width: 1000px;
    margin: 38px auto;
    height: 2000px;
    text-align: center;
    display: flex;
}

.main_left_side{
    width: 600px;
    height: 2000px;
    background-color: white;    
    padding: 8px;
}
.main_right_side{
    width: 400px;
    height: 2000px;
    background-color: white;
    position: fixed;
    margin-left: 600px;
   padding: 8px;
}
@media (max-width:1200px){
    .main_right_side{
        display: none;
    }
    .main_left_side{
        width:600px;
        margin: auto;
    }
}

.feed_card{
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    margin: 8px auto;
    padding: 5px;
    
}

.user_info{
    padding: 5px;
}
.profile_container{
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.profile_box{
    display: flex;
    align-items: center;
}
.profile_box_image{
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 9999px;
}
.profile_box_image_right{
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
}

.profile_box_image_right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile_box_userid{
    margin-left: 0.7em;
    text-align: left;
}

.feed_image{
    width: 488px;
    height: 488px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;
}
.icons_box{
    display: flex;
    justify-content: space-between;
    
}
.icons_left{
    display: flex;
}
.icons{
    border: 1px solid black;
    width: 35px;
    height: 35px;
    overflow: hidden;
    margin-left: 5px;
}

